.ItemTopRight {
  animation: move 0.5s ease-in-out forwards;

  @keyframes move {
    from {
      transform: translateX(150%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
