.Item {
  opacity: 0;
  background-color: transparent;
  transition: all 0.6s ease-in-out;
}
/* ===============往右start=======================*/
.Item.ItemShowRow {
  transform: translateX(300px);
}
.Item.ItemShowRow.Show {
  opacity: 1;
  transform: translateX(0);
}

/* ===============往左end=========================*/
/* ===============往上start=======================*/
.Item.ItemShowColumn {
  transform: translateY(-300px);
}

.Item.ItemShowColumn.Show {
  opacity: 1;
  transform: translateY(0);
}
/* ===============往上start=======================*/

/* ===============往右end=========================*/
.Item.ItemShowRowReverse {
  transform: translateX(-600px);
}
.Item.ItemShowRowReverse.Show {
  opacity: 1;
  transform: translateX(0);
}
/* ===============往左start=======================*/
