.Love {
  animation: move 0.8s linear;
  opacity: 0;
  @keyframes move {
    0% {
      transform: scale(1) rotate(-30deg);
      opacity: 0;
    }
    25% {
      transform: scale(1.5) rotate(0deg);
      opacity: 0.8;
    }
    50% {
      transform: scale(1.5) rotate(-30deg);
      opacity: 1;
    }
    75% {
      transform: scale(1.5) rotate(0deg);
      opacity: 0.6;
    }
    100% {
      transform: scale(1) rotate(30deg);
      opacity: 0;
    }
  }
}

.Count {
  animation: countmove 0.5s linear;
  opacity: 0;
  @keyframes countmove {
    from {
      transform: translateY(0px) scale(1.5);
      opacity: 1;
    }
    to {
      transform: translateY(-25px);
      opacity: 0;
    }
  }
}

.Image {
  animation: image 30s linear infinite;
  @keyframes image {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.5);
    }
  }
}
