.CardContainer {
}

.ContentContainer {
  z-index: 30;
}

.LineBg {
  animation: rotate var(--animation-duration, 3s) linear infinite both;
  transform-origin: left top;
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
