$timer: 5s;

:export {
  timer: $timer;
}
.ProgressBar {
  animation: strecher $timer linear infinite;
  transform-origin: left;

  @keyframes strecher {
    from {
      transform: scaleX(0);
    }

    to {
      transform: scaleX(1);
    }
  }
}

.Image {
  animation: route $timer linear infinite;
  transform-origin: center;

  @keyframes route {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}
